.mem {
  width:20vw;
}

.MemoryView {
  border:1px solid black;
}

.MemoryBox {
  display: flex;
  font-size: 15px;
  border-top: 1px solid;
}

.position {
  background-color: gray;
  padding:4px;
}
.value {
  padding:4px;
}

.MemorySearch {
  display: flex; 
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.searchButton {
  border:none;
  background: lightgreen;
  font-size: 20px;
}
.searchBar {
  width:20vw;
  border:none;
}
