body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainWindow {
  display:flex;
  flex-wrap: wrap;
}
.states {
  margin: 10px;
  display:flex;
  flex-direction: column;
  align-items: center
}

.runDecorator{
  background: darkolivegreen;
}
.errorDecorator {
  background: red;
}
