body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.editor {
  width: 63%;
}

.information {
  width: 35%;
}

.runDecorator {
  background: darkolivegreen;
}

.errorDecorator {
  background: red;
}

.desktopView {
  flex-direction: row;
  padding: 30px;
}

@media only screen and (min-width: 768px) {
  .desktopView {
    display: block;
  }

  .mobileView {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .desktopView {
    display: none;
  }

  .mobileView {
    display: block;
  }
}