.Register {
  display:flex;
  box-sizing: content-box;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black;
  width: 10vw;
}

.Register16bit {
  width: 20vw;
  border: 1px solid black;
}
.Register > div:first-child {
  width: 100%;
  text-align: center;
  background-color: lightblue;
}

.RegisterPair {
  display: flex;
  border-left: 1px solid black;
}
